/* ------[ PAMATA CSS ]------ */
*{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body{
    margin:0;
    padding:0;
    background:url(images/bg.png) repeat;
}
a{
    text-decoration: none;
}

#wrap{
    margin-top:0px;
    min-height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
@media (min-width: 1200px) {
    .container{
        max-width: 900px;
        margin-top:30px !important;
    }
}
/* -------------------------- */

/* ----[ GALVENĀ IZVĒLNE]---- */
#menu{
    width:100%;
    height: auto;
    background-color:#FFF;
    border-left:8px solid #00BDF2;
    border-right:8px solid #00BDF2;
    box-sizing: border-box;
    min-height: 60px;
}
#menu ul{
    margin:0;
    padding:0;
    list-style-type: none;
    height: auto;
    overflow: hidden;
}
@media (min-width: 768px) {
    #menu ul{
        overflow: initial !important;
    }
    #menu ul li{
        float:left;
    }
    /* --- LOGO */
    #menu ul li#logo{
        height:60px;
        width:100px;
        background-image:url(images/logo_clean.png);
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        transition: background-color 5s; /* EASTER EGG */
    }
    #menu ul li#logo:active{
        background-color:#444349; /* EASTER EGG */
    }
    /* ------- */
    /* - LAIKS */
    #menu ul li#time{
        float:right;
        color:#FFF;
        font-size:30px;
        padding-left:0px;
        padding-right:0px;
        height: 100%;
        background-color: #00BDF2;
        line-height: 60px;
        opacity:0;
        transition: all 1s;
        border-left:10px solid #444349;
        max-width:0px;
        overflow: hidden;
    }
    #menu ul li#profile{
        float:right;
        color:#FFF;
        background-color: #00BDF2;
        font-weight: 500;
        padding-left:15px;
        padding-right:15px;
        line-height: 60px;
        cursor: pointer;
        transition:transform 0.3s;
    }
    #menu ul li#profile:hover{
        transform:scale(1.1);
    }
    /* ------- */
    #menu ul li a{
        color:#00BDF2;
        line-height:60px;
        padding:21px;
        padding-bottom:22px;
        font-weight: 500;
        transition:all 0.3s;
    }
    #menu ul li a.active{
        color:#FFF;
        background-color:#00BDF2;
        padding-bottom:57px;
        padding-top:26px;
        text-decoration: none !important;
    }
    #menu ul li a:not(.active):hover{
        color:#FFF;
        background-color:#00BDF2;
        padding-bottom:26px;
        padding-top:26px;
        text-decoration: none !important;
    }
}
/* - MOBILE */
@media (max-width: 768px) {
    #menu ul{
        max-height: 0px;
        transition: max-height 0.5s;
    }
    #menu ul.active{
        max-height: 300px;
    }
    #menu ul li{
        text-align: center;
        background-color:white;
        border-bottom:1px solid #00BDF2;
    }
    #menu ul li a{
        display: inline-block;
        width:100%;
        color:#00BDF2;
        line-height:60px;
        font-weight: 600;
        font-size:16px;
    }
    #menu ul li a.active{
        background-color:#00BDF2;
        color:white;
        text-decoration: none;
    }
}
#mobile-menu{
    width:100%;
    height: 100%;
    padding-left:20px;
    padding-right: 20px;
    font-size:24px;
    color:#00BDF2;
    border-bottom:1px solid #00BDF2;
    cursor:pointer;
}
#mobile-menu span{
    
    line-height:60px;
}
/* -------------------------- */

/* ---[ GALVENAIS SATURS ]--- */

#main{
    width:100%;
    height:auto;
    overflow: auto;
    background-color:#FFF;
    margin-top:30px;
    border-top:8px solid #00BDF2;
    border-bottom:8px solid #00BDF2;
    max-height: 0px;
    transition: max-height 0.8s;
    overflow: hidden;
}
@media (max-width: 992px) {
    #main{
        max-height: 100% !important;
    }
}
#main #content{
    margin-top:50px;
    padding-left:50px;
    padding-right:50px;
}
#main #content h1{
    color:#00BDF2;
    border-bottom:5px solid #00BDF2;
}
#content .article{
    padding-top:10px;
    margin-bottom:50px;
    color:#444349;
}
#content .article .title{
    font-size:24px;
    background-color:#FFF;
    padding:10px;
    padding-bottom:0px;
    color:#00BDF2;
    text-transform: uppercase;
}
#content .article .content{
    border:5px solid #00BDF2;
    padding:10px;
    text-align:justify;
    font-size:15px;
}
#content .article .date{
    float:right;
    color:#FFF;
    background-color:#00BDF2;
    padding:5px;
    font-size:13px;
}
/*--- GALERIJA ---*/
#content .gallery{
    padding:15px;
    margin-top:20px;
    margin-bottom:20px;
    background-color:rgba(68, 67, 68,0.1);
    overflow: auto;
    transition: background-color 0.5s;
}
#content .gallery:hover{
    background-color:rgba(68, 67, 68,0.15);
}
#content .gallery .name{
    display: inline-block;
    background-color:#00BDF2;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size:30px;
    padding:2px;
}
#content .gallery .container_ ul{
    list-style-type: none;
}
#content .gallery .container_ ul li{
    float:left;
    margin-top:20px;
    margin-left:20px;
    border:4px solid #00BDF2;
    padding: 0;
    transition: transform 0.3s;
}
#content .gallery .container_ ul li:hover{
    transform:scale(1.2);
}
#content .gallery .container_ ul li img{
    display:block;
}
/*--- ANKETA ---*/
#content table#survey{
    color:#777349;
    margin-left:auto;
    margin-right:auto;
}
#content table#survey tr td{
    vertical-align: center;
}
#content table#survey tr td:first-child{
    text-align: right;
    padding-right:10px;
}
/*--- PROFILS ---*/
#profilePic{
    border:1px solid #00BDF2;
    width:240px;
}
#profilePic img{
    display: block;
}
#profilePic #nick{
    width:100%;
    height:30px;
    background:#00BDF2;
    color:white;
    text-transform: uppercase;
    text-align: center;
    line-height:30px;
    font-size:16px;
    font-weight: bold;
}
/* -------------------------- 


/* -------[ FOOTERIS ]------- */
footer{
    width:100%;
    height:50px;
    background-color:#FFF;
    margin-top:0px;
    border-left:8px solid #00BDF2;
    border-right:8px solid #00BDF2;
    box-sizing: border-box;
    transition: border-width 3s linear; /* EASTER EGG */
}
@media (min-width: 1200px) {
    footer{
        margin-top:30px;
    }
}
footer:active{
    border-width: 200px; /* EASTER EGG */
}
footer span{
    line-height: 50px;
    margin-left:50px;
    color:#00BDF2;
    font-size:12px;
}
/* -------------------------- */

#side-ad{
    position: absolute;
    z-index: 10;
    width:150px;
    height: 500px;
    background: #ddd;
    margin-left: -170px;
}
#bottom-ad{
    width: 100%;
    height: 100px;
    background: #ddd;
}
#bottom-ad p{
    color: #00BDF2;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    text-transform: uppercase;
}
#side-ad p{
    text-transform: uppercase;
    -ms-writing-mode: tb-lr;
    -webkit-writing-mode: vertical-lr;
    -moz-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    color: #00BDF2;
    font-size:50px;
    text-align: center;
    width:100%;
    padding-left:35px;
    height: 100%;
}
