body{
    margin:0;
    padding:0;
    background-color:#efefef;
}
a{
    text-decoration: none;
}

#wrap{
    width:980px;
    height:auto;
    margin:30px auto;
}
#menu{
    width:100%;
    height: 50px;
    background-color:#ddd;
}
#menu ul{
    margin:0;
    padding:0;
    list-style-type: none;
}
#menu ul li{
    float:left;
}
#menu ul li a{
    color:black;
    line-height:50px;
    padding:20px;
}